<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Channable Connector</label>
    <label lang="en">Channable Connector</label>

    <version>1.1.0</version>
    <copyright>(c) by RESPONSE GmbH</copyright>
    <license>MIT</license>
    <link>http://www.response-gmbh.de/</link>
    <author>RESPONSE GmbH</author>
    <compatibility minVersion="5.2.27"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Neue Konfiguration, um alle Artikel ohne Artikelzuordnung zu exportieren.</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Added configuration to transfer all articles without article mapping</li>
                </ul>
            ]]>
        </changes>
    </changelog>

</plugin>