<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean">
            <name>apiOnlyActiveArticles</name>
            <label lang="de">Nur aktive Artikel übertragen</label>
            <label lang="en">Only transfer active articles</label>
            <value>false</value>
        </element>
        <element type="boolean">
            <name>apiOnlyArticlesWithImg</name>
            <label lang="de">Nur Artikel mit Bildern übertragen</label>
            <label lang="en">Only transfer items with pictures</label>
            <value>false</value>
        </element>
        <element type="boolean">
            <name>apiOnlyArticlesWithEan</name>
            <label lang="de">Nur Artikel mit EAN übertragen</label>
            <label lang="en">Only transfer items with EAN</label>
            <value>false</value>
        </element>
        <element type="number">
            <name>apiPollLimit</name>
            <label lang="de">Performance: API Datensatz Limit je Abruf</label>
            <label lang="en">Performance: API record limit per poll</label>
            <value>250</value>
            <description lang="de">Sollten Probleme bzgl. der Laufzeit und des Arbeitsspeichers auftreten, reduzieren Sie diese Zahl.</description>
            <description lang="en">If you have problems with runtime and memory, reduce this number.</description>
            <options>
                <minValue>5</minValue>
            </options>
        </element>
        <element type="button">
            <name>AutoConnect</name>
            <label lang="de">Auto Connect</label>
            <label lang="en">Auto Connect</label>
            <description lang="de">Verbinden Sie Ihren Shop automatisch mit Channable.</description>
            <description lang="en">Connect your shop automatically with Channable.</description>
            <options>
                <handler>
                    <![CDATA[
                    function(button) {
                        Ext.Ajax.request({
                        url: 'ReschannableAutoConnect/getUrl/',
                        method: 'POST',
                        success: function (response){
                         var res = Ext.JSON.decode(response.responseText);
                         window.open(res.url);
                        }
                        });
                    }
                    ]]>
                </handler>
            </options>
        </element>
    </elements>
</config>