<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>Channable</name>
            <label lang="en">Channable</label>
            <label lang="de">Channable</label>
            <controller>ReschannableArticles</controller>
            <action>index</action>
            <class>sprite-metronome</class>
            <parent identifiedBy="controller">Marketing</parent>
            <children>
                <entry>
                    <name>Artikel</name>
                    <label lang="en">Article</label>
                    <label lang="de">Artikel</label>
                    <controller>ReschannableArticles</controller>
                    <action>index</action>
                    <class>sprite-edit-list</class>
                </entry>
            </children>
        </entry>
    </entries>
</menu>